/* resets */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

/* hero */
.hero-container {
    height: 100vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    border: 10px solid goldenrod;
    border-radius: 15%;
    margin: 20px;
}
.hero-container h1 {
    font-size: 100px;
    color: goldenrod;
    margin-bottom: 0px;
    margin-left: 20px;
    text-decoration: underline;
    text-shadow: 4px 4px 20px;
}
.hero-container h2 {
    font-size: 30px;
    color: white;
    margin-left: 75px;
}

/* Horizontal Masonry Gallery */
h3 {
    color: white;
    text-align: center;
    font-size: 30px;
}
.horizontal-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 10px solid goldenrod;
    border-radius: 5%;
    margin: 20px;
    padding: 10px;
}
.horizontal-masonry img {
    height: 250px;
    flex: 1;
    object-fit: cover;
    margin: 30px;
    transition: border 0.25s border-radius 0.25s;
}
.horizontal-masonry img:hover {
    border: 2px solid goldenrod;
    border-radius: 5%;
}
