/* Resets */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* Navbar */
#nav {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}

/* Media Queries should always be the last thing in your CSS,
because they overwrite what is above it. For them to work, they
have to be the last thing read. */

@media screen and (max-width: 480px) {
    #nav {
        flex-direction: column;
    }
}

/* To check if media querie works, before adding styles, target
body and add background color. Stretch screen to reflect max-width
set to see if it applies correctly. */