/* Resets */

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #141414;
}

/* grid */
#two-columns {
    display: grid;
    grid-template-columns: 0fr 250px 600px 1fr;
    grid-template-areas: ". sidebar content .";
}

/* sidebar */
#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar ul{
    background-color: #55c3c7;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}
#sidebar li {
    padding: 8px 10px;
}
#sidebar a {
    text-decoration: none;
    color: #000000;
}

/* main */
#main {
    grid-area: content;
    margin: 0px 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "one two three"
        "four five six";
    gap: 40px;
}

#sketchcourse {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: one;
}

#pencilshading {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: two;
}

#drawingexercise {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: three;
}

#howlong {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: four;
}

#loomis {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: five;
}

#realisticeye {
    margin-top: 40px;
    border: 1px solid #55c3c7;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 8px grey;
    grid-area: six;
}