/* Resets */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: darkslategrey;
}

/* Header */
#logo {
    margin: 0px;
    padding-left: 25px;
}
#header {
    display: grid;
    background-color: #e6e6e6;
    height: 120px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: inline-block;
    width: 100%;
}

.column {
    width: 30%;
    max-width: 1440px;
    margin: 0px auto;
}
#img-card {
    #new53 {
        border-radius: 15%;
        box-shadow: 8px 8px 20px black;
    }
    text-align: center;
    color: #e6e6e6;
    margin: 15px;
}

/* Flex */ 
#flex {
    background-color: #e6e6e6;
}
#products {
    text-align: center;
    color: #000000;
    padding: 15px;
    text-decoration: underline 2px;
}

#left {
    display: flex;
    padding-left: 50px;
}
/* card 1 */
#card1 {
    display: inline-block;
    flex: 1;
}
#color-block {
    width: 250px;
    text-align: center;
}
#color-block2 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}
/* card 2 */
#card2 {
    display: inline-block;
    flex: 1;
}
#color-block1 {
    width: 250px;
    text-align: center;
}
#color-block3 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}
/* card 3 */
#card3 {
    display: inline-block;
    flex: 1;
}
#color-block2 {
    width: 250px;
    text-align: center;
}
#color-block4 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}

#block {
    border-radius: 15%;
    box-shadow: 8px 8px 8px #808080;
}

/* Sec3 */
#flex2 {
    background-color: darkslategrey;
    width: 100%;
    color: #e6e6e6;
}
/* card 1 */
#card4 {
    display: inline-block;
    flex: 1;
}
#color-block {
    width: 250px;
    text-align: center;
}
#color-block2 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}
/* card 2 */
#card5 {
    display: inline-block;
    flex: 1;
}
#color-block1 {
    width: 250px;
    text-align: center;
}
#color-block3 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}
/* card 3 */
#card6 {
    display: inline-block;
    flex: 1;
}
#color-block2 {
    width: 250px;
    text-align: center;
}
#color-block4 {
    width: 250px;
    text-align: center;
    font-size: 14px;
}
#feat {
    text-align: center;
    text-decoration: 2px underline;
    padding: 20px;
    color: #e6e6e6;
}
#button {
    display: block;
    width: 200px;
    padding: 8px 20px;
    background-color: #e6e6e6;
    color: #000000;
    border-radius: 25px;
    text-align: center;
    margin: 12px;
    font-weight: bold;
    text-decoration: none;
}
#media {
    text-decoration: none;
    color: #e6e6e6;
}
#mix {
    text-decoration: none;
    color: #e6e6e6;
}
#basic {
    text-decoration: none;
    color: #e6e6e6;
}

#sofft {
    text-decoration: none;
    color: #000000;
}
#mediums {
    text-decoration: none;
    color: #000000;
}
#colors {
    text-decoration: none;
    color: #000000;
}

#single {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}