
/* Resets */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #212B5E;
}

/*Navbar*/
#navbar {
    background-color: #ffffffea;
    background-image: url();
    display: flex;
    align-items: baseline;
    padding: 5px 20px;
    box-shadow: 5px 5px 10px #1e1e1e9b;
    justify-content: space-between;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin-right: 15px;
    font-family: "Minion variable concept", serif;
    font-size: 20px;
}
.drop-contain i {
    font-size: 30px;
}
.drop-contain {
    position: relative;
}
.drop-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    background-color: #ffffffea;
    width: 100%;
    min-width: 200px;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 1s
        ;
    z-index: 1;
}
.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}
.drop-contain i {
    transition: transform 0.75s;
}
.drop-contain:hover i {
    transform: rotate(180deg);
}
#navbar .drop-menu a:hover {
    color: #D71F26;
}
#navbar p {
    font-style: italic;
    font-family: "Minion variable concept", serif;
    font-size: 20px;
    font-weight: bold;
}

/* Home */
/*Hero*/
#hero {
    height: 80vh;
    background-image: url(../images/hero.webp);
    background-position: center center;
    background-size: cover;
    margin: 20px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 500px;
}
#hero h1 {
    position: absolute;
    font-size: 60px;
    bottom: 40%;
    right: 35%;
    color: white;
    font-family: "Imprint MT Shadow", serif;
    background-color: #212b5eb3;
    padding: 10px;
    border-radius: 20px;
}
#hero a {
    position: absolute;
    right: 15%;
    bottom: 30%;
    font-size: 25px;
    font-family: "Minion variable concept", serif;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    color: #D71F26;
    transition: 
        box-shadow 0.5s;
}
#hero a:hover {
    box-shadow: 4px 4px 8px black;
}

/* Footer */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #ffffffea;
}
#footer a {
    background-color: #212B5E;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: box-shadow 0.5s;
}
#footer a:hover {
    box-shadow: 4px 4px 8px black;
}
#footer img {
    margin: 20px;
}

/* Menu */
/* Banner */
#banner {
    background-image: url(../images/banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: none;
    border-radius: 20px;
    height: 75vh;
    margin: 40px 20px;
    right: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: white;
    font-family: "Imprint MT Shadow", serif;
    font-size: 25px;
    justify-content: center;
}
#banner h1, h3 {
    background-color: #212b5ec8;
    padding: 10px;
    border-radius: 20px;
    margin: 30px 20px;
}

/* cards */
#two-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
/* Themes */
.col-1 {
    background-color: white;
    padding: 40px;
    margin: 20px;
}
.col-1 h3 {
    text-align: center;
    color: white;
    font-family: "Imprint MT Shadow", Serif;
    font-size: 30px;
}
.col-1 .list1 {
    display: inline-block;
    margin: 0px 50px;
}
.col-1 .list2 {
    display: inline-block;
    margin: 0px 50px;
}
.col-1 #lists {
    text-align: center;
}
.col-1 h5 {
    font-family: "Imprint MT Shadow", Serif;
    font-size: 20px;
    color: #D71F26;
    text-decoration: underline;
}
.col-1 li {
    font-family: "Minion variable concept", serif;
    font-size: 18px;
}
.col-1 a {
    text-decoration: none;
    color: black;
    transition: 
        font-size 0.25s, 
        transform 0.25s, 
        color 0.25s;
}
.col-1 a:hover {
    font-size: 25px;
    transform: translateY(-8);
    color: #D71F26;
}

/* Dishes */
.col-2 {
    background-color: white;
    padding: 40px;
    margin: 20px;
}
.col-2 h3 {
    text-align: center;
    color: white;
    font-family: "Imprint MT Shadow", Serif;
    font-size: 30px;
}
.col-2 ul {
    display: flex;
}
.col-2 li {
    margin: 35px;
    width: 200px;
    list-style: none;
}
.col-2 img {
    width: 100%;
    box-shadow: 4px 4px 8px black;
    border: 2px solid black;
    border-radius: 10px;
}
.col-2 h5 {
    font-family: "Imprint MT Shaddow", serif;
    font-size: 18px;
    color: #D71F26;
    text-decoration: underline;
}
.col-2 a, h5 {
    transition: 
        font-size 0.25s,
        width 0.25s
    ;
}
.col-2 a:hover h5 {
    font-size: 25px;
    width: 200px;
}

/* Queries */
@media screen and (min-width: 480px) and (max-width: 1440px) {
    .col-2 ul {
        flex-wrap: wrap;
    }
    .col-2 li {
        margin: 30px;
        width: 100px;
    }
    .col-2 img {
        width: 100px;
    }
    .col-2 h5 {
        font-size: 15px;
    }
    .col-2 a, h5 {
        transition: 
            font-size 0.25s,
            width 0.25s
        ;
    }
    .col-2 a:hover h5 {
        font-size: 20px;
        width: 150px;
    }
}