/* Resets */

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* 
    Two Column Styles 

    While display: flex; is technically the only property/value pair that
    you need to set up a two column layout with flex, remember
    to use other properties to make it look well, designed, and intuitive.
*/

#two-columns {
    display: flex;
}
#sidebar {
    width: 250px;
    background-color: #9480a7;
    padding: 24px;
    border-right: 2px solid #594c64;
    h2 {
        border-bottom: 2px solid #594c64;
        padding-bottom: 5px;
    }
    ul {
        list-style-type: none;
        padding: 0px;
    }
    ul a {
        color: #111;
        text-decoration: none;
    }
    ul li {
        padding: 4px 0px;
    }
}
#main {
    padding: 48px;
    flex: 1;
}